<div class="jumbotron">

    <form class="form-horizontal" ng-submit="addNewProperty(newProperty)">
        <fieldset>

            <div class="form-group label-floating">
                <label class="control-label" for="focusedInput2">Property Address</label>
                <input required class="form-control" ng-model="newProperty.propertyAddress" id="focusedInput2" type="text" placeholder="Where is the property located?">
            </div>

            <div class="form-group label-floating">
                <label class="control-label" for="focusedInput2">Monthly Rent</label>
                <input class="form-control" ng-model="newProperty.rent" id="focusedInput2" type="number" placeholder="How much is the tenant paying per month?">
            </div>

            <div class="form-group label-floating">
                <label class="control-label" for="focusedInput2">Monthly Utilities, if Applicable</label>
                <input ng-model="newProperty.utilities" class="form-control" id="focusedInput2" type="number" placeholder="How much are the monthly utility bills?">
            </div>

            <div class="form-group label-floating">
                <label class="control-label" for="focusedInput2">Bedrooms</label>
                <input ng-model="newProperty.bedrooms" required  class="form-control" id="focusedInput2" type="number">
            </div>

            <div class="form-group label-floating">
                <label class="control-label" for="focusedInput2">Bathrooms</label>
                <input ng-model="newProperty.bathrooms" class="form-control" id="focusedInput2" type="number" required>
            </div>

            <div class="form-group label-floating">
                <label class="control-label" for="focusedInput2">Maximum Amount of Tenants</label>
                <input ng-model="newProperty.maxTenants" class="form-control" id="focusedInput2" type="number" required>
            </div>

            <div>
                <button type="submit" class="btn btn-success" >Save</button>
                <button ui-sref="properties" class="btn btn-danger">Cancel</button>

            </div>

        </fieldset>
    </form>

</div>