<div class="jumbotron">


            <div class="form-group label-floating">
                <label class="control-label">Client's Name</label>
                <input required class="form-control" ng-model="client.name"  type="text" placeholder="What's the client's name?">
            </div>

            <div class="form-group label-floating">
                <label class="control-label">Client's Residence</label>
                <input required class="form-control" ng-model="client.propertyAt" type="text" placeholder="In which property does the client reside in?">
            </div>


            <div class="form-group label-floating">
                <label class="control-label">Client's Email Address</label>
                <input ng-model="client.email" class="form-control" type="email">
            </div>

            <div class="form-group label-floating">
                <label class="control-label">Phone Number</label>
                <input ng-model="client.phoneNumber" class="form-control" type="tel">
            </div>


            <div>
                <button ng-click="saveClientEdits(client)" type="submit" class="btn btn-success" >Save</button>
                <button class="btn btn-danger" ui-sref="clients">Cancel</button>

            </div>

</div>