<div class="jumbotron">

    <div class="well">
        <h2 class="text-center"><i class="material-icons md-48">home</i>{{property.propertyAddress}}</h2>
    </div>

    <div class="text-center">
        <div>
            <h3>Monthly Rent : {{property.rent | currency}}</h3>
        </div>

        <div>
            <h3>Monthly Utilities Cost, if Applicable: {{property.utilities || "N/A" | currency}}</h3>
        </div>

        <div>
            <h3>Bedrooms: {{property.bedrooms}}</h3>
        </div>

        <div>
            <h3>Bathrooms: {{property.bathrooms}}</h3>
        </div>

        <div>
            <h3>Maximum Tenants: <i class="material-icons" ng-repeat="tenant in property.maxTenants">face</i>
            </h3>
        </div>

        <div>
            <h3>Current Tenants:</h3>

            <div class="list-group">
                <div class="list-group-item" ng-repeat="tenant in property.tenants">
                    <div class="row-picture">
                        <img class="circle" src="https://dabble-production-db-herokuapp-com.global.ssl.fastly.net/assets/fallback/default_user_photo-d31b851edf55356d11069c446ee3bfdc.png" alt="icon">
                    </div>
                    <div class="row-content">
                        <div style="float: right">
                            <a ng-href="/#/clients"><i class="material-icons">contacts</i></a>
                        </div>
                        <h4 class="list-group-item-heading">{{tenant.name}}</h4>

                        <p class="list-group-item-text">Phone Number: {{tenant.phoneNumber}}</p>
                        <div style="float: right">
                            <button ng-click="evictTenant(tenant)"> <i class="material-icons text-danger">next_week</i> </button>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
            </div>

        </div>

        <br>

        <div>
            <h3>Available Clients to Move In: </h3>
            <br>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email Address</th>
                    <th>Move In?</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in potentialClientsList">
                    <td>{{client.name}}</td>
                    <td>{{client.phoneNumber}}</td>
                    <td>{{client.email}}</td>
                    <td><a href=""><i class="material-icons" ng-click="clientMoveIn(client._id)">assignment_return</i></a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>