<div class="container">
    <a style="float : right" ng-href="/#/addProperty" class="btn btn-info btn-fab"><i class="material-icons">add</i></a>
</div>


<div class="panel panel-default" ng-repeat="property in listOfProperties">
    <div class="panel-heading">
        <a ng-href="/#/propertyManagement/{{property._id}}"><i class="material-icons">home</i></a>
        {{property.propertyAddress}}
        <div style="float: right">
            <a ng-click="removeProperty(property)"><i class="material-icons">delete</i></a>
            <a ng-href="/#/editProperty/{{property._id}}"><i class="material-icons">create</i></a>
        </div>
    </div>
    <div class="panel-body">
        <p>Bedrooms: {{property.bedrooms}}</p>
        <p>Bathrooms: {{property.bathrooms}}</p>
        <p>
            Maximum Tenants :
            <i class="material-icons" ng-repeat="tenant in property.maxTenants">face</i>
        </p>
    </div>
</div>